<html>
  <head>
    <title>Group4Register</title>
  </head>
  <body>
    <div class="container">
      <h1>Please register</h1>
      <p>Make an account by entering your desired username and password<br>Please do not use your <b>username</b> within the <b>password</b>
      </p>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Register">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

